# Entornos virtuales
venv/
env/
*.env  # ¡Muy importante si usas un archivo .env para secretos locales!
.env

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos SQLite local (no la subirás a producción)
*.sqlite3
db.sqlite3

# Archivos de staticfiles y media (estos se generan/suben al servidor de otra forma)
staticfiles/
# media/  # Decide si quieres versionar tus archivos media o no.
          # Si son subidas de usuarios y muchos, usualmente no se versionan.

# Archivos IDE / OS
.vscode/
.idea/
*.DS_Store