# Archivos compilados/optimizados de Python
__pycache__/
*.py[cod]
*$py.class

# Extensiones C
*.so

# Distribución / Empaquetado
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Logs de Instaladores
pip-log.txt
pip-delete-this-directory.txt

# Reportes de Tests / Cobertura
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Traducciones
*.mo
*.pot

# Cosas de Django:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Carpetas de archivos estáticos y media (IMPORTANTE)
staticfiles/
media/

# Entornos Virtuales (IMPORTANTE)
venv/
env/
ENV/
virtualenv/
.venv/
.env/ # También común para variables de entorno

# Configuraciones de Editores/IDEs (Opcional)
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos de Sistema Operativo
.DS_Store
Thumbs.db

# Otros
*.swp
*~