{% extends "core/base.html" %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-light text-dark">
                <div class="card-header"><h3 class="card-title">{{ titulo }}</h3></div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-flex justify-content-end mt-4">
                            <a href="{% url 'costeo_jeans:costofijo_list' %}" class="btn btn-secondary me-2">Cancelar</a>
                            <button type="submit" class="btn btn-primary">{{ boton }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}